<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <style>
        .block {
            width: 350px;
            height: 250px; }
            .bth {
                width: 35px;
                height: 35px;
            }
            .like {
                color: red;
            }
        </style>
    </head>
    <body>
        <div id="app">
            <!-- <input type="text" @keyup.enter="send()">
        <button @click="send()">Отправить</button>
        <h2>Link elem</h2>
        <a v-bind:href="linkHref">my new link</a>
        <img v-bind:src="imgPhoto">
        <div class="block" :style ="{backgroundColor: 'grey'}"></div>
        <div class="block" :style="styleBlock">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, nihil.
        </div>
        <h2>Heading -v-model</h2>
        <h2>{{ modelData }}</h2>
        <input type="text" v-model="modelData">
        <button @click="HeadingText()">click heading</button>
        <h2>калькулятор</h2>
        <input type="number" v-model.number="fristNum">
        <input type="number" v-model.number="secondNum">
        =
        {{result}}
        <div>
            <button @click="plus()">+</button>
            <button  @click="min()">-</button>
            <button  @click="multi()">*</button>
            <button  @click="div()">/</button>
        </div>
        <h2>Конструктор</h2>
        <input type="text" v-model="blockWidth">
        <input type="text" v-model="blockColor">
        <div class="block" :style="change()">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, nihil.
        </div> -->
            <!-- <h2>List</h2>
            <ul>
                <li v-for="item in ListItems" :key="item.id">{{item}}</li>
            </ul>
            <input type="text" v-model="newList" @keyup.enter="addItem">
        </div> -->
            <article v-for="article in data" :key="article.id" class="article">
                <h2 class="article__title">{{article.title}}</h2>
                <p class="article__text">{{article.text}}</p>
                <button class="btn" @click="likeToggle=!likeToggle" :class="{like: likeToggle}">Like</button>
            </article>
        </div>
        <script>
        new Vue({
            el: "#app",
            data: {
                likeToggle: false,
                data: [
                    
                    {
                        title:'title text',
                        text: 'description text info element'
                    },
                         {
                        title:'new title text',
                        text: 'new description text info element'
                    },
                ]
                // ListItems:[1,2,4],
                // newList: '',
                // blockWidth: 100,
                // blockColor:'#ccc',
                // fristNum: 0,
                // secondNum: 0,
                // result: 0,
                // modelData: '',
                // linkHref: "product.html",
                // imgPhoto: "photo.jpg",
                // styleBlock: {
                //     backgroundColor: 'green',
                //     color: 'red'
                // }
            },
            methods: {
                addItem(){
                    this.ListItems.push(this.newList)
                },
                changeBlock(){
                    return{
                        width: `${this.blockWidth}px`,
                        height: `${this.blockWidth}px`,
                        backgroundColor: this.blockColor
                    }
                },

                HeadingText() {
                    if (this.modelData === '') {
                        this.modelData = 'заголовок для блока'
                    } 
                },
                send() {
                    console.log('Отправить данные внутри input');
                },
                plus(){
                    this.result = this.fristNum + this.secondNum;
                },
                min(){
                    this.result = this.fristNum - this.secondNum;
                },
                multi(){
                    this.result = this.fristNum * this.secondNum;
                },
                div(){
                    this.result = this.fristNum / this.secondNum;
                }
            },
            // computed: {
            //     change() {
            //         return {
            //             width: `${this.blockWidth}px`,
            //             height: `${this.blockWidth}px`,
            //             backgroundColor: this.blockColor,
            //         }
            //     }
            // }
        }
    )
        </script>
    </body>
</html>
