@import "_vars";

* {
    margin: 0;
    padding: 0;
}
html {
    font-size: 10px;
}
h1,
h2,
h3,
h4,
h5 {
    font-family: DM_Serif_Display;
    font-weight: normal;
}
h6,
h7,
h8,
p {
    font-family: Jost;
    font-weight: normal;
}
h1 {
    font-size: 8.5rem;
}
h2 {
    font-size: 6.5rem;
}
h3 {
    font-size: 5rem;
}
h4 {
    font-size: 4rem;
}
h5 {
    font-size: 2.5rem;
}
h6 {
    font-size: 2.2rem;
}
h7 {
    font-size: 2rem;
}
h8 {
    font-size: 1.8rem;
}
p {
    font-size: 1.6rem;
}
a {
    text-decoration: none;
}

body {
    background-color: #fff;
}
ul,
li {
    list-style-type: none;
}
.container {
    padding-left: $indent-desktop;
    padding-right: $indent-desktop;
}
.menu {
    padding-top: 53px;
    padding-bottom: 57px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    &__logo {
        &_link {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;
            text-decoration: none;
        }
        &_name {
            color: $darkbluecolor;
            line-height: 5rem;
        }
    }
}
.links-main {
    display: flex;
    flex-direction: row;
    gap: 48px;
    &__link {
        h7 {
            color: $darkbluecolor;
        }
    }
}
.banner {
    &__wrapper {
        background-image: url("@/assets/Photo.png");
        width: 1201px;
        height: 758px;
        border-radius: 70px;
        display: flex;
        align-items: center;
    }
    &__content {
        width: 434px;
        padding-left: 52px;
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 18px;
    }
    &__title {
        line-height: 1.25em;
    }
    &__text {
        line-height: 1.5em;
        letter-spacing: 0.22px;
    }
    &__button {
        padding: 26px 48px;
        border-radius: 18px;
        background-color: $darkbluecolor;
        color: #fff;
        font-weight: 600;
        display: flex;
        align-items: center;
        gap: 10px;
    }
}

.gallery {
    padding-top: 96px;
    padding-bottom: 96px;
    &__header {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    &__title {
        text-align: center;
        color: $darkbluecolor;
    }
    &__subtitle {
        text-align: center;
        color: $darkgraycolor;
        width: 737px;
    }
    &__wrapper {
        padding-top: 93px;
        display: grid;
        grid-template-columns: repeat(2, 547px);
        column-gap: 104px;
        row-gap: 56px;
        .item1 img {
            border-top-right-radius: $border-radius-angle;
        }
        .item2 img {
            border-top-left-radius: $border-radius-angle;
        }
        .item3 img {
            border-bottom-right-radius: $border-radius-angle;
        }
        .item4 img {
            border-bottom-left-radius: $border-radius-angle;
        }
    }
    &__item {
        width: 547px;
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    &__info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        .title {
            color: $darkbluecolor;
        }
        .subtitle {
            color: $darkgraycolor;
        }
    }
}
.our-digits {
    background: $beigecolor;
    padding-top: 151px;
    padding-bottom: 151px;
    &__elements {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;

        // & div:not(:last-child)::after{
        //     content: url(../img/Line.svg);
        //     position: absolute;

        // }
    }
}
.element {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__counter {
        color: $goldcolor;
    }
    &__description {
        color: $darkgraycolor;
    }
}
.news {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 96px;
    padding-bottom: 96px;
    &__title,
    &__description {
        max-width: 811px;
    }
    &__title {
        text-align: center;
    }
    &__description {
        margin-bottom: 93px;
        text-align: center;
    }
    &-place {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 27px;
        & .news-place__element:nth-child(even) {
            background: #f4f0ec;
        }
        &__element {
            max-width: 380px;
            border: 1px solid $graycolor;
            display: flex;
            flex-direction: column;
            border-radius: 40px;
            padding: 21px;
        }
    }
}
.single-news {
    &__visual {
        position: relative;
        align-self: center;
    }
    &__img {
        border-radius: 40px 40px 0px 0px;
    }
    &__button {
        position: absolute;
        bottom: 20px;
        left: 20px;
        padding: 15px 10px;
        border: 1px solid transparent;
        border-radius: 10px 10px 10px 0px;
        background: #fff;
    }
    &__title {
        max-width: 252px;
    }
    &__info {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
}
.footer {
    padding-bottom: 134px;
    &__info {
        display: grid;
        grid-template-columns: 4fr 1fr 1fr 3fr;
        gap: 101px;
    }
    &__brand-info {
        display: flex;
        flex-direction: column;
        gap: 18px;
        ul {
            padding-top: 16px;
        }
    }
    &__links,
    &__links .links {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    &__link,
    a {
        color: $darkgraycolor;
    }
    &__contacts {
        display: flex;
        flex-direction: column;
        gap: 30px;
        h6,
        a {
            color: $darkgraycolor;
        }
    }
}
