.articles {
  padding-top: 180px;
  background-image: url(../img/block_bcgrnd.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.articles a {
  color: #4d5053;
}
.articles__die {
  background-color: #fff;
  border-radius: 37px 37px 0px 0px;
  padding: 41px 78px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.articles__breadcrumbs {
  display: flex;
  flex-direction: row;
}
.articles__breadcrumbs li:nth-child(odd)::after {
  content: "/";
  padding-left: 8px;
  padding-right: 8px;
}
.articles__breadcrumb {
  margin-bottom: 0 !important;
}

.post {
  padding-top: 200px;
}
.post__title {
  padding-bottom: 0;
}
.post__element {
  display: flex;
  flex-direction: row;
  gap: 65px;
  margin-bottom: 150px;
  border-radius: 62px;
  border: 1px solid #e7e7e7;
  box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 0.25);
  padding: 22px;
}
.post__img {
  border-radius: 46px;
}
.post__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.post__title {
  letter-spacing: 0.5px;
  max-width: 463px;
  margin-bottom: 22px;
}
.post__description, .post__thing {
  line-height: 150%;
  letter-spacing: 0.22px;
  margin-bottom: 41px;
  max-width: 469px;
}

.news-blog {
  margin-bottom: 200px;
}
.news-blog__title {
  padding-bottom: 30px;
}
.news-blog__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -moz-column-gap: 30px;
       column-gap: 30px;
  row-gap: 30px;
  margin-bottom: 50px;
}
.news-blog-preview {
  padding: 20px 20px 45px 20px;
  border: 1px solid #e7e7e7;
  border-radius: 62px;
  box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 0.25);
  transition: background-color 0.3s;
}
.news-blog-preview:hover {
  background-color: #4d5053;
}
.news-blog-preview:hover .button_main {
  background-color: #fff;
}
.news-blog-preview__visual {
  position: relative;
}
.news-blog-preview__img {
  width: 100%;
  height: auto;
  border-radius: 62px 62px 0 0;
}
.news-blog-preview__button {
  position: absolute;
  left: 20px;
  bottom: 20px;
  padding: 8px 10px;
  border: 1px solid transparent;
  border-radius: 8px 8px 8px 0px;
  background-color: #fff;
  letter-spacing: 0.16px;
  text-transform: capitalize;
}
.news-blog-preview__title {
  color: #292f36;
  line-height: 125%;
  letter-spacing: 0.5px;
  max-width: 320px;
}
.news-blog-preview__footer {
  padding-top: 11px;
  display: flex;
  flex-direction: column;
}
.news-blog-preview__wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
}
.news-blog-preview__date {
  color: #292f36;
  line-height: 150%;
  letter-spacing: 0.16px;
  text-transform: capitalize;
}

.top {
  background-image: url(../img/block_banner.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 351px;
}

.blog__title {
  margin-bottom: 21px;
}
.blog__wrapper {
  margin-top: 40px;
  display: flex;
  gap: 52px;
  margin-bottom: 96px;
}
.blog__left-box {
  padding-right: 20px;
  min-width: 803px;
  min-height: 500px;
}
.blog__img {
  width: 803px;
  border-radius: 50px;
  margin-bottom: 46px;
}
.blog__under-images {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 48px;
}
.blog__item {
  margin-bottom: 30px;
}
.blog__quotes {
  background-color: #f4f0ec;
  width: auto;
  padding: 53px 227px;
  margin-top: 35px;
  margin-bottom: 27px;
  border-radius: 50px;
  color: #cda274;
  text-align: center;
}
.blog__quotes-header {
  font-size: 200px;
  margin-top: -50px;
}
.blog__quotes-text {
  margin-top: -147px;
}
.blog__lists {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 44px;
}
.blog__list {
  display: flex;
  flex-direction: row;
}
.blog__num {
  color: #cda274;
  margin-right: 14px;
}
.blog__btn-box {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.blog__btn {
  background-color: #f4f0ec;
  text-align: center;
  padding: 9px 30px;
  border-radius: 10px;
}
.blog__btn:hover, .blog__btn:focus, .blog__btn:active {
  background-color: #292f36;
  color: #fff;
}
.blog__right-box {
  min-width: 300px;
}