$goldcolor: #cda274;
$darkbluecolor: #292f36;
$darkgraycolor: #4d5053;
$beigecolor: #f4f0ec;
$graycolor: #e7e7e7;
$lightgraycolor: #e7e7e7;
$indent-desktop: calc(50% - 560px);
$indent-tablet1024: calc(50% - 496px);
$indent-tablet: calc(50% - 368px);
$indent-mob768: calc(50% - 180px);
$border-radius-angle: 80px;
